# Data
data

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
dist
webpack-assets.json
.DS_Store
.idea
.history

#test
.nyc_output
